body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ---------header-------------*/
.header-all {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.cont-nav-addr {
  display: flex;
  align-items: center;
}
.logo-conteyner {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.navigator {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-st {
  color: #2e2f42;
}
.list-main {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover,
.link-nav:focus,
.list-main:hover,
.list-main:focus {
  color: #404bbf;
}
.list-link {
  display: flex;
  gap: 40px;
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav.current {
  color: #404bbf;
  position: relative;
}
.link-nav.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
/*------------/header---------*/
/*-----------section 1---------*/
.sect-effect {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: none;
  padding-top: 188px;
  padding-bottom: 188px;
  justify-items: center;
  background-position: center;
}
.blok-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.blok-btn {
  display: block;
  background: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blok-btn:hover,
.blok-btn:focus {
  background-color: #404bbf;
}

/*---------------/section 1---------*/
/*---------------section 2-----------*/
.goals-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
}
.our-goals-spus {
  display: flex;
  list-style: none;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.goals-four {
  width: calc((100% - 72px) / 4);
}
.our-goals-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}
.our-goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.group-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.group-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/*------------/section 2--------------*/
/*-------------section 3--------------*/
.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team {
  display: flex;
  gap: 24px;
}
.all-team {
  background-color: #f4f4fd;
}
.team-color {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.cont-h-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.link-team {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team:hover,
.link-team:focus {
  background-color: #404bbf;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.group-section-text {
  margin-bottom: 8px;
}
.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 24px;
}
.icons-team {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team:hover {
  background-color: #31d0aa;
}
.svg-team {
  fill: #f4f4fd;
}
/*--------------/section 3---------*/
/*---------------section 4---------*/
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-portfolio {
  display: block;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.img-overlay {
  position: relative;
  overflow: hidden;
}
.paragraf-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
}
.img-portfolio:hover .paragraf-overlay {
  transform: translateY(0);
}
.portf1 {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portf-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*---------------section 4-------------*/
/*---------------footer----------------*/
.footer-blok {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.blok-web-footer {
  display: block;
  margin-right: 120px;
}
.logo-cont-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-st-footer {
  color: #f4f4fd;
}
.footer-blok-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-social {
  margin-right: auto;
}
.soc-title-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.icons-team-footer {
  display: flex;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list-footer {
  display: flex;
  gap: 16px;
}
.link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}
.svg-footer {
  fill: #f4f4fd;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.fotter-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input-footer {
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
}
.form-button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button-footer:hover,
.form-button-footer:focus {
  background-color: #31d0aa;
}

.form-icon-send {
  fill: #fff;
  margin-left: 16px;
}
.form-input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/*---------------/footer----------*/
/*-------modal---------*/
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}
.modal-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  line-height: 1.5;
  margin-bottom: 16px;
}
.input-wrapper-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-right: 0;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper-close:hover,
.input-wrapper-close:focus {
  border: none;
  background-color: #404bbf;
}
.input-wrapper-close:hover > .form-icon-close,
.input-wrapper-close:focus > .form-icon-close {
  fill: #ffffff;
}

.form-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon-close:hover,
.form-icon-close:focus {
  fill: #fff;
}

.cont-input {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.input-wrapper {
  position: relative;
}
.form-imput {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.form-imput:focus,
.form-imput:hover {
  border: 1px solid #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon:hover,
.form-icon:focus {
  fill: #4d5ae5;
}
.form-imput:focus + .form-icon,
.form-imput:hover + .form-icon {
  fill: #4d5ae5;
}
.input-wrapper {
  position: relative;
}
.form-imput-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.cont-input-text {
  margin-bottom: 16px;
}
.form-imput-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-imput-comment:focus {
  border-color: #4d5ae5;
}
.form-imput:focus {
  border-radius: 4D5AE5;
}
.span-modal {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.input-wrapper-checkbox {
  margin-bottom: 24px;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-modal {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.checkbox-modal:checked + .accept-label > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.accept-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.privace {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.blok-btn-modal {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
.blok-btn-modal:hover,
.blok-btn-modal:focus {
  background-color: #404bbf;
}
